{% extends 'myapp/base.html' %}
{% load staticfiles %}

{% block header_block %}
    <!-- THE HEADER -->
    <header>
        <div class="container-fluid custom-container">
            <div class="row no_row row-header">
                <div class="brand-be">
                    <a href="index.html">
                        <img class="logo-c active be_logo" src="{% static 'myapp/img/RJ_Network1.png' %}" alt="logo">
                        <img class="logo-c be_logo" src="{% static 'myapp/img/RJ_Network1.png' %}" alt="logo2">
                        <img class="logo-c be_logo" src="{% static 'myapp/img/RJ_Network1.png' %}" alt="logo3">
                        <img class="logo-c be_logo" src="{% static 'myapp/img/RJ_Network1.png' %}" alt="logo4">
                    </a>
                </div>
                <div class="header-menu-block">
                    <button class="cmn-toggle-switch cmn-toggle-switch__htx"><span></span></button>

                </div>
                <div class="login-header-block">
                    <div class="login_block">
                        <a class="btn-login btn color-1 size-2 hover-2" href=""><i class="fa fa-user"></i>
                            Log in</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <style>
        .input-forgotpsw {
            width: 100%;
            line-height: 45px;
            border-radius: 2px;
            border: none;
            color: #b4b7c1;
            padding-left: 15px;
            margin: 20px 0px;
        }
    </style>
{% endblock %}

{% block body_block %}
    <!-- MAIN CONTENT -->
    <div id="content-block" style="background: #1b212c; padding: 7% 26%;">
        <div class="row">
            <div class="col-md-12">
                <a href="/myapp/login/">
                    <i class="fa fa-times close-button"></i>
                </a>
                <h5 class="large-popup-title">Forgot Password</h5>
            </div>
            <form method="post">
                {% csrf_token %}
                <div class="col-md-6">
                    <input class="input-forgotpsw" type="text" required="" name="firstname" placeholder="First Name">
                </div>
                <div class="col-md-6">
                    <input class="input-forgotpsw" type="text" required="" name="lastname" placeholder="Last Name">
                </div>
                <div class="col-md-6">
                    <input class="input-forgotpsw" type="text" required="" name="username" placeholder="User Name">
                </div>
                <div class="col-md-6">
                    <input class="input-forgotpsw" type="email" required="" name="email" placeholder="Email ID">
                </div>
                <div class="col-md-6">
                    <div style="border-radius: 2px; margin-top: 20px;line-height: 36px; background-color: white;">
                        <select name="secques" class="input-forgotpsw">
                            <option value="" name="secques" disabled selected>
                                Security Question
                            </option>
                            <option value="">What is your favorite color?</option>
                            <option value="">Who is your favorite actor?</option>
                            <option value="">When did you buy your car?</option>
                            <option value="">What is the name of your boyfriend?</option>
                            <option value="">When did you go to another country?</option>
                            <option value="">Who is your favorite English teacher?</option>
                            <option value="">What your pet's name?</option>
                            <option value="">Who is your favorite singer?</option>
                            <option value="">Where did you graduate?</option>
                            <option value="">How did you hear us?</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <input class="input-forgotpsw" type="text" name="secans" required="" placeholder="Answer">
                </div>
                <div class="col-md-6">
                    <input style="margin-left: -338px" class="input-forgotpsw" type="password" required="" placeholder="New Password"
                           name="password" {{ user.password }}>
                </div>
                <div class="col-md-6">
                    <input style="margin-left: 338px;
    margin-top: -45px;
    float: left;" class="input-forgotpsw" type="password" name="reppass" required="" placeholder="Repeat Password">
                </div>
                <div class="col-xs-6 for-signin" style="margin: 20px 0px; float: right;">
                    <input type="submit" class="be-popup-sign-button" value="RESET">
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block footer_block %}
    <footer style="margin-top: -122px">
        <div class="footer-bottom" style="margin-top: 9%">
            <div class="container-fluid custom-container">
                <div class="col-md-12 footer-end clearfix">
                    <div class="left">
                        <span class="copy">© 2018. All rights reserved.</span>
                        <span class="created">Created with LOVE by Julia & Rahul.</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}